[Desktop Entry]
Name=LinNeighborhood
Comment=Samba Network Neighborhood
Comment[fr]=Voisinage Réseau Samba
Comment[pl]=Otoczenie sieciowe Samby
Exec=LinNeighborhood
Icon=LinNeighborhood.png
Terminal=0
Type=Application
SwallowExec=
SwallowTitle=
# vi: encoding=utf-8
